@import url(themes/themes.css);

*, *::after, *::before {
    box-sizing: border-box;
}

.preload {
    transition: none !important;
}

.theme-transition {
    transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}
