:root {
    --purple-100: rgb(233, 219, 255);
    --purple-200: rgb(205, 174, 255);
    --purple-300: rgb(174, 133, 241);
    --purple-400: rgb(70, 9, 168);
    --purple-800: rgb(11, 0, 29);
    --purple-900: rgb(7, 0, 19);

    /* RADIO STILES */
    
    --purple-101:rgb(24,12,200);
    --purple-102:rgb(200,80,0);
    --purple-152:rgb(14, 9, 89);
    --prRUple-69:rgb(108, 43, 0);
}

.light {
    --bg: var(--purple-100);
    --bg-nav: var(--purple-200);
    --text: var(--purple-900);
    --bg-secondary: var(--purple-300);
}

.dark {
    --bg: var(--purple-800);
    --bg-nav: var(--purple-900);
    --text: var(--purple-200);
    --bg-secondary: var(--purple-400);
}

.radzio {
    --bg: var(--prRUple-69);
    --bg-nav: var(--purple-152);
    --text: var(--purple-102);
    --bg-secondary: var(--purple-101);
}