:root {

    --main-color: #453f4d;
    --main-v2-color: #383341;
    --main-v3-color: #29242e;

    --secondary-color: #978fa5;
    --secondary-v2-color: #AFA8BA;
    --secondary-v3-color: #c3bccc;


    --accent-color: #CAAAFF;
    --accent-v2-color: #ddcafa;

    
    --text-main-light-color: #d1d1d1;
    --text-main-dark-color: #302d35;

    --text-secondary-light-color: #a3a0a0;
    --text-secondary-dark-color: #4e485a;

}

.light {
    --bg: var(--secondary-v2-color);
    --bg-nav: var(--secondary-color);
    --text: var(--text-main-dark-color);
    --text-accent: var(--text-secondary-dark-color);
    --bg-secondary: var(--secondary-v3-color);
}

.dark {
    --bg: var(--main-v2-color);
    --bg-nav: var(--main-color);
    --text: var(--text-main-light-color);
    --text-accent: var(--text-secondary-light-color);
    --bg-secondary: var(--main-v3-color);
}
